<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMaps</title>
  </head>
  <body>
  <<h1>Enter some address</h1>
  <!-- <form  action="/" method="get">
    <input type="text" name="" value="">
  </form> -->
  <form action="/getAddress" method="post">
    <input type="text" name="search">

    <button type="submit" name="button">Search</button>
  </form>

  </body>
</html>
